.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px auto auto auto;
  width: 400px;
  border: lightblue 1px solid;
  position: relative;
}

.header {
  margin-top: 10px;
  background: lightblue;
  width: 100%;
  padding: 15px 0px;
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}